In [1]:
sentecnce = "my name is seoinhyeok"

In [4]:
sentecnce[3:7:2]

'nm'

2일차 시작

남성시장 곱창 볶음  1일분에 100g ??  
포매팅 2가지 방식  
퍼센트s는 문자열만 가능  
퍼센트d는 숫자  
포맷 함수

In [22]:
lunch_menu1 = "곱창 볶음"
lunch_menu2 = "꽈배기"
print(f"오늘의 메뉴는 {lunch_menu1}와 {lunch_menu2}입니다.")

오늘의 메뉴는 곱창 볶음와 꽈배기입니다.

### 변수 x에 100을 대입하고 변수 Y이에 200을 대입한뒤 변수 add에  x와Y에 합을 대입합니다.
### 그후 대입한 변수를 바탕으로 아래 문자를 출력합니다.

In [38]:
x=100
y=200
add=x+y
print("{}과 {} 합은{}입니다.".format(x,y,add))

100과 200 합은300입니다.

In [39]:
song= "tell me tell me tetetetet tell me"

In [40]:
song.count("tell me")

3

In [41]:
song.find("tetete")

16

In [42]:
song.upper()

'TELL ME TELL ME TETETETET TELL ME'

In [46]:
song=song.upper()
song

'TELL ME TELL ME TETETETET TELL ME'

In [48]:
song.title()
#앞글자만 대문자

'Tell Me Tell Me Tetetetet Tell Me'

In [78]:
#인플레이스
song.replace("T","Y")

'YELL ME YELL ME YEYEYEYEY YELL ME'

In [51]:
song

'TELL ME TELL ME TETETETET TELL ME'

In [53]:
#스플릿
song.split("  ")

['TELL ME TELL ME TETETETET TELL ME']

In [55]:
song.split(" ")

['TELL', 'ME', 'TELL', 'ME', 'TETETETET', 'TELL', 'ME']

In [58]:
sentence = "나는 밥을 먹었다. 아주 맛이 있었다."
sentence.split(" .")

['나는 밥을 먹었다. 아주 맛이 있었다.']

In [60]:
ah_ryeon = "     tell     "
ah_ryeon.strip()

'tell'

In [61]:
ah_ryeon = "     tell     "
ah_ryeon.lstrip()

'tell     '

In [62]:
ah_ryeon = "     tell     "
ah_ryeon.rstrip()

'     tell'

In [64]:
ah_ryeon = ". . .   tell . . .  "
ah_ryeon.strip(".")

' . .   tell . . .  '

## 연산자

In [65]:
1+1

2

In [66]:
2-2

0

In [70]:
int (2/2)

1

In [81]:
2/2

1.0

In [68]:
2*2

4

**지수 연산**

In [72]:
3**3

27

###몫 연산, 나머지 연산

In [75]:
7//3

2

In [76]:
7%3

1

In [79]:
3+3.0

6.0

In [80]:
2.7+0.3

3.0

In [82]:
"안녕"+"하세요"
#오직 문자열은 +만 됨!

'안녕하세요'

In [83]:
"안녕"*"하세요"

TypeError: can't multiply sequence by non-int of type 'str'

In [84]:
"안녕"-"하세요"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [85]:
"안녕"-"안녕"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [86]:
"안녕"+3

TypeError: can only concatenate str (not "int") to str

In [87]:
"안녕"*3

'안녕안녕안녕'

In [88]:
str(2)+str("10") +str(7)

'2107'

In [89]:
int(2)+int("10")+int(7)

19

In [99]:
#input 함수

a=input("아이디를 입력하세요: ")

아이디를 입력하세요: hbbyiy

In [100]:
a

'hbbyiy'

In [101]:
a=int(input("아이디를 입력하세요: "))

아이디를 입력하세요: 324

In [102]:
a

324

### 시간 파싱하기
- "2022년 8월10일 14시 32분 10초"

In [108]:
import datetime
datetime.datetime.now().strftime("2022년-08월-10일 14시:32분:10초")

'2022년-08월-10일 14시:32분:10초'

In [105]:
import datetime
datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2022-08-10 14:33:35'

In [117]:
now=datetime.datetime.now().strftime("%Y-%m-%d %H:%M:%S")
year= now[:4]
month = now [5:7]
day= now[8:10]
hour= now[11:13]
minute=now[14:16]

second = now [17:]

print(f"{year}년 {month}월 {day}일 {hour}시 {minute}분 {second}초")

2022년 08월 10일 14시 47분 45초

In [116]:
now

'2022-08-10 14:42:43'

- input 함수로 초 단위 시간을 받습니다.
- 그시간을 시간 분 초로 나누어서 출력합니다.
- 예시)3653을 받으면 1시간 0분 53초를 출력

In [2]:
time=int(input("초 단위의 시간을 입력해 주세요"))
hour=time//3600
minute=time%3600//60
second= time%60

print(f"{hour}시 {minute}분 {second}초")

초 단위의 시간을 입력해 주세요3653
1시 0분 53초

In [7]:
num=3
num**=3
num

27

In [13]:
#논리형
1<=2

True

In [16]:
type(1!=2)

bool

In [15]:
1==2

False

In [17]:
True+1

2

In [18]:
"1" == 1

False

In [20]:
cmdu= int(input("정수를 입력하세요: "))
cmdu ==0 or cmdu== 1
#둘중에 하나만 참이여도 참

정수를 입력하세요: 1

True

In [22]:
cmdu= int(input("정수를 입력하세요: "))
cmdu ==0 and cmdu== 1
#둘중에 하나만 거짓이어도 거짓

정수를 입력하세요: 1

False

-Input 함수로 num에 임의 정수를 입력받습니다.
- 입력된 수가 2의 배수 이거나 3의 배수 이면 True,그렇지 않으면 FALSE를 출력합니다.

In [27]:
num=int(input())
num %2==0 and num %3== 0

2

False

#조건문 
- 조건에 따라 실행 흐름을 다르게 하는 문법
if 
if 조건식:
   실행문장
   실행문장

In [31]:
if 나는 부자다:
    택시를 타고 가자
else:
    버스를 타고 가자

와 집에 도착했다.

SyntaxError: invalid syntax (2304176341.py, line 1)

In [34]:
money= int(input("내가 가진 돈 :"))
if money >= 4000 :
    print('택시를 타고 가자.')
else :
    print("버스를 타고 가자")
    
    print('우와 우리집이다!')

내가 가진 돈 :3000
버스를 타고 가자
우와 우리집이다!

- input 함수로 정수를 받습니다.
- 만약 주어진 수가 3의 배수라면 "3의 배수입니다."를 출력합니다.
- 만약 주어진 수가 3의 배수가 아니라면 "3의 배수가 아닙니다."를 출력합니다.

In [38]:
djwurkmdl=int(input())
if djwurkmdl %3 ==0 :
    print("3의 배수입니다.")
else :
    print( "3의 배수가 아닙니다.")
    
    
    #이둘은 둘다 흑백 논리

1
3의 배수가 아닙니다.

In [39]:
#elif문 eilf 문 eles 문 셋다 중복되는게 없어야 한다.

0

#### 추석 선물 세트 구매
- 추석 선물 세트 1개에 1만원입니다.
- 추석 선물 세트를 11개 사면 , 11개째 부터 10% 할인이 됩니다.
- 추석 선물 세트를 몇개 샀는지 input 함수로 받아 , 총 얼마인지 출력해 주세요

In [49]:
gift=int(input("개수를 입력하세요"))
price=10000
if  gift<=10 : 
print [gift*price]
else :
    얼 = gift*price-((gift-10)*price*0.1)
print(int(price))

IndentationError: expected an indented block (3873958121.py, line 4)

In [50]:
a=[1,2,3,4]
a
type(a)

list

In [10]:
f=[7,8,9,10]
f[-1]
f[0]

7

In [13]:
d=[1,2,["a","b"]]
d=[2][0]

In [15]:
#튜블안에 있는 
#익데싱이랑 슬라이스는 가능합니다. 원소를 넣어나 뻬거나 가능하거나
#리스트 끼리 덧셈이 가능함

In [16]:
a=[1,2,3,4]
b=[5,6,7,8,9]
a+b

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
a.append(5)
a

[1, 2, 3, 4, 5]

In [24]:
a.insert(0,8)
a
#값을 어디에다가 넣읗건지

[8, 8, 1, 2, 3, 4, 5, 20, 20]

In [21]:
a.append(20)
a.insert(-1,20)

In [23]:
# 원소를 지우는 방법
del a[0]
a

[8, 1, 2, 3, 4, 5, 20, 20]

In [30]:
del a[2]
a

[8, 8, 3, 5, 20, 20]

In [31]:
a.remove(5)
a

[8, 8, 3, 20, 20]

In [37]:
#순서 바꾸기
#오름차순
a.sort()
a

[5, 8, 8, 20, 20]

In [38]:
#내림 차순
a.sort(reverse = True)
a

[20, 20, 8, 8, 5]

In [41]:
len(a)

5

In [42]:
type(1)

int

In [43]:
"tell me" .upper()

'TELL ME'

In [48]:
cs=["사이다", "콜라", "주스"]
"카프리썬" not in cs

True

In [51]:
like = "나는 콜라가 좋아"
"콜라" in like

True

In [55]:
import random

In [56]:
random.random()

0.2419225429023899

In [58]:
l = [1,2,3,4,5]
random. choice(l)

5

##가위바위보 게임 만들기
- 플레이어에게 가위,바위,보 중 하나를 입력하게 합니다.
- 컴퓨터는 동일한 확율로 가위,바위 보 중 하나를 냅니다.
- 플레이어의 입력과 컴퓨터의 입력을 비교하여 승부를 결정합니다. 
- 출력문은"당신은 가위를 냈고, 컴퓨터는 보를 냈습니다. 당신이 이겼습니다." 와 같은 형식으로 합니다.

In [77]:
rsp = ["가위","바위","보"]
mo = input("가위, 바위, 보 중 하나 선택하세요: ")
a = random.choice(rsp)
if a == mo :
    print(f"당신은 {mo}를 냈고, 컴퓨터는 {a}를 냈습니다. 비겼습니다")
elif (a == "가위" and mo == "바위") or (a == "바위" and mo == "보") or (a == "보" and mo == "가위"):
    print(f"당신은 {mo}를 냈고, 컴퓨터는 {a}를 냈습니다. 이겼습니다")
elif (a == "가위" and mo == "보") or (a == "바위" and mo == "가위") or (a == "보" and mo == "바위"):
    print(f"당신은 {mo}를 냈고, 컴퓨터는 {a}를 냈습니다. 졌습니다")
else:
    print("잘못된 입력입니다")
print(a)

가위, 바위, 보 중 하나 선택하세요: 보
당신은 보를 냈고, 컴퓨터는 가위를 냈습니다. 졌습니다
가위