In [13]:
csb = {"이름" : "홍길동","나이" :50 ,"키":168}

class1_4 = {"이름" :['홍길동', '김철수', '최영희'],
          "나이" : [20,21,22],
          "키"  :[168,177,204]}

In [14]:
class1_4["발 사이즈"] = [290,275,240]
class1_4

{'이름': ['홍길동', '김철수', '최영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 204],
 '발 사이즈': [290, 275, 240]}

In [15]:
class1_4.keys()

dict_keys(['이름', '나이', '키', '발 사이즈'])

In [16]:
1 in [1,2,3,4]

True

In [17]:
"홍길동" in class1_4

False

In [18]:
a = {1:'a', 2:'b'}
a[1]

'a'

In [19]:
a[2]

'b'

class1_4의 "이름" key에 할당된 value 들을 전부 성을뺀 이름들로 출력하였습니다.
-  홍길동> 길동
-  김철수> 철수
-  김영희> 영희

In [20]:
class1_4["이름"]

['홍길동', '김철수', '최영희']

In [26]:
for i in class1_4["이름"] :
    print(i[1:])

길동
철수
영희

In [30]:
class1_4["이름"]=["길동","철수","영희"]
class1_4

{'이름': ['길동', '철수', '영희'],
 '나이': [20, 21, 22],
 '키': [168, 177, 204],
 '발 사이즈': [290, 275, 240]}

In [34]:
[i**2 for i in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- 여러 학생의 성적 점수가 다음과 같은 딕션너리로 구성돠어 있다.

In [ ]:
scores = {'홍길동':{'수학':99,'영어':80,'국어':75},
          '김미정':{'영어':67,'국어':87,'수학':55},
          '정수진':{'수학':67,'국어':41,'영어':23}}

- 이때 학생들의 평균을 저장하는 새로운 항목을 추가 하려고 한다.
- socres에 학생들의 수학,영어, 국어 평균 성적을 기록한 "성적" 정보를 추가해주세요

풀이:1,수학 점수  뽑아서 3등분
     2.영어 점수 뽕아서 3등분
     3. 국어  점수 뽑아거 3등분
     그리고 성적 추가

In [57]:
(scores['홍길동']['수학']+scores['김미정']['수학']+scores['정수진']['수학'])/3

73.66666666666667

In [67]:
(scores['홍길동']['영어']+scores['김미정']['영어']+scores['정수진']['영어'])/3

56.666666666666664

In [58]:
(scores['홍길동']['국어']+scores['김미정']['국어']+scores['정수진']['국어'])/3

67.66666666666667

In [68]:
scores['성적'] =   {'수학평균':73,'영어평균':56,'국어평균':67}
scores

{'홍길동': {'수학': 99, '영어': 80, '국어': 75},
 '김미정': {'영어': 67, '국어': 87, '수학': 55},
 '정수진': {'수학': 67, '국어': 41, '영어': 23},
 '성적': {'수학평균': 73, '영어평균': 56, '국어평균': 67}}

In [70]:
len("홍길동전")

4

In [86]:
dirty= 73.36666666
round(dirty)

73

In [89]:
import math
math.floor(dirty)

73

In [90]:
math.ceil(dirty)

74

In [92]:
round(dirty,2)

73.37

In [93]:
int(1.6)

1

NameError: name 'upper' is not defined