In [2]:
from sklearn.datasets import load_iris
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import mglearn

import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

# 나눔 폰트를 사용합니다.
matplotlib.rc('font', family='Malgun Gothic')
matplotlib.rcParams['axes.unicode_minus'] = False

In [3]:
iris_data = load_iris()
iris_data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

### 1.Data 데이터프레임화

In [4]:
df = pd.DataFrame(iris_data['data'], columns=iris_data['feature_names'])
df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

### 2.Label 데이터프레임화

In [5]:
y = pd.DataFrame(iris_data['target'], columns=['targets'])
y

     targets
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

### 3.행의 개수 같은지 확인하기.

In [6]:

print(df.shape)
print(y.shape)

(150, 4)
(150, 1)

In [7]:
iris_data["target_names"]

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
X = df
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [9]:
df = pd.concat([X,y], axis=1)

In [10]:
df.corrwith(df["targets"])

sepal length (cm)    0.782561
sepal width (cm)    -0.426658
petal length (cm)    0.949035
petal width (cm)     0.956547
targets              1.000000
dtype: float64

In [11]:
setosa =[]
versicolor = []
virginica = []
for i in df["targets"]:
    if i == 0:
        setosa.append(1)
        versicolor.append(0)
        virginica.append(0)
    elif i == 1:
        setosa.append(0)
        versicolor.append(1)
        virginica.append(0)
    elif i == 2:
        setosa.append(0)
        versicolor.append(0)
        virginica.append(1)
df["is setosa"] = setosa
df["is versicolor"] = versicolor
df["is virginica"] = virginica

# Corr 
## + / - : 데이터간의 상관관계( + 면 같이 상승 , - 면 a가 상승하면 b는 하강)
## 1 에 가까울 수록 상관관계가 높다고 해석

In [12]:
df.corrwith(df["is setosa"])

sepal length (cm)   -0.717416
sepal width (cm)     0.603348
petal length (cm)   -0.922765
petal width (cm)    -0.887344
targets             -0.866025
is setosa            1.000000
is versicolor       -0.500000
is virginica        -0.500000
dtype: float64

In [13]:
df.corrwith(df["is versicolor"])

sepal length (cm)    7.939552e-02
sepal width (cm)    -4.677031e-01
petal length (cm)    2.017545e-01
petal width (cm)     1.178988e-01
targets              5.768888e-18
is setosa           -5.000000e-01
is versicolor        1.000000e+00
is virginica        -5.000000e-01
dtype: float64

In [14]:
df.corrwith(df["is virginica"])

sepal length (cm)    0.638020
sepal width (cm)    -0.135645
petal length (cm)    0.721011
petal width (cm)     0.769445
targets              0.866025
is setosa           -0.500000
is versicolor       -0.500000
is virginica         1.000000
dtype: float64