In [1]:
import numpy as np
import pandas as pd

In [2]:
df2015=pd.read_csv("2015.csv",index_col="관서명",encoding="euc-kr")
df2015

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수  18  44      750  8425   9593
광주지방경찰청계  검거건수  18  47      758  5409   8301
광주지방경찰청계  검거인원  17  66      776  3433  11774
광주지방경찰청계    구속   9  33       42   104     58
광주지방경찰청계   불구속   1  26      511  2781   5618
광주지방경찰청계    기타   7   7      223   548   6098
광주동부경찰서   발생건수   3   5       92  1100   1155
광주동부경찰서   검거건수   4   6       86   583    970
광주동부경찰서   검거인원   4   7       98   447   1483
광주동부경찰서     구속   3   2        8    13     10
광주동부경찰서    불구속   0   4       63   379    703
광주동부경찰서     기타   1   1       27    55    770
광주서부경찰서   발생건수   5  10      172  2050   2483
광주서부경찰서   검거건수   4   8      153  1471   2124
광주서부경찰서   검거인원   4  15      167   876   3080
광주서부경찰서     구속   3  10        7    27     19
광주서부경찰서    불구속   0   5       91   665   1366
광주서부경찰서     기타   1   0       69   184   1695
광주남부경찰서   발생건수   1   3       70   962   1081
광주남부경찰서   검거건수   1   3       53   506    941
광주남부경찰서   검거인원   1   3       52   418   1260
광주남부경찰서     구속   0   3        3    19      3
광주남부경찰서    불구속   1   0       39   325    675
광주남부경찰서     기타   0   0       10    74    582
광주북부경찰서   발생건수   5  14      256  2570   2621
광주북부경찰서   검거건수   5  18      212  1852   2319
광주북부경찰서   검거인원   5  28      216   948   3168
광주북부경찰서     구속   3  11       11    30     10
광주북부경찰서    불구속   0  12      153   770   1544
광주북부경찰서     기타   2   5       52   148   1614
광주광산경찰서   발생건수   4  12      160  1743   2253
광주광산경찰서   검거건수   4  10      135   996   1922
광주광산경찰서   검거인원   3   8      129   736   2585
광주광산경찰서     구속   0   4        5    12      6
광주광산경찰서    불구속   0   4       81   639   1181
광주광산경찰서     기타   3   0       43    85   1398

In [3]:
df2016=pd.read_csv("2016.csv",index_col="관서명",encoding="euc-kr")
df2016

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수  17  47      701  6052   8599
광주지방경찰청계  검거건수  18  47      713  4242   7631
광주지방경찰청계  검거인원  21  54      758  3455  10747
광주지방경찰청계    구속  14  25       37   132     57
광주지방경찰청계   불구속   3  25      491  2862   5267
광주지방경찰청계    기타   4   4      230   461   5423
광주동부경찰서   발생건수   3   8       83   832   1142
광주동부경찰서   검거건수   3   7       70   679   1002
광주동부경찰서   검거인원   4  10       71   543   1497
광주동부경찰서     구속   2   2        3    17      7
광주동부경찰서    불구속   0   7       50   460    773
광주동부경찰서     기타   2   1       18    66    717
광주서부경찰서   발생건수   2  11      174  1417   2288
광주서부경찰서   검거건수   3  11      158   963   1994
광주서부경찰서   검거인원   3  13      169   894   2874
광주서부경찰서     구속   3   6        7    22     18
광주서부경찰서    불구속   0   4       92   749   1301
광주서부경찰서     기타   0   3       70   123   1555
광주남부경찰서   발생건수   1   4       64   768   1028
광주남부경찰서   검거건수   1   4       54   544    883
광주남부경찰서   검거인원   1   5       55   348   1198
광주남부경찰서     구속   1   4        2    12      2
광주남부경찰서    불구속   0   1       38   264    599
광주남부경찰서     기타   0   0       15    72    597
광주북부경찰서   발생건수   6   7      205  1788   2142
광주북부경찰서   검거건수   5   8      158  1156   1906
광주북부경찰서   검거인원   6  10      178   933   2700
광주북부경찰서     구속   3   6        1    50     13
광주북부경찰서    불구속   2   4      135   759   1402
광주북부경찰서     기타   1   0       42   124   1285
광주광산경찰서   발생건수   5  17      175  1247   1999
광주광산경찰서   검거건수   5  17      147   898   1798
광주광산경찰서   검거인원   6  16      147   723   2382
광주광산경찰서     구속   4   7       14    31      7
광주광산경찰서    불구속   1   9       85   620   1125
광주광산경찰서     기타   1   0       48    72   1250

In [4]:
df2017=pd.read_csv("2017.csv",index_col="관서명",encoding="euc-kr")
df2017

            구분  살인  강도  강간·강제추행    절도     폭력
관서명
광주지방경찰청계  발생건수   9  33      725  4816   8366
광주지방경찰청계  검거건수   9  32      732  3487   7553
광주지방경찰청계  검거인원  10  61      824  3046  11018
광주지방경찰청계    구속   8  28       71   115     88
광주지방경찰청계   불구속   0  26      523  2493   5235
광주지방경찰청계    기타   2   7      230   438   5695
광주지방경찰청   발생건수   0   0        0     0      0
광주지방경찰청   검거건수   0   1       91     0     37
광주지방경찰청   검거인원   0   1      105     0    149
광주지방경찰청     구속   0   0       17     0      7
광주지방경찰청    불구속   0   1       53     0     69
광주지방경찰청     기타   0   0       35     0     73
광주동부경찰서   발생건수   3   5       77   624   1090
광주동부경찰서   검거건수   3   5       70   470    953
광주동부경찰서   검거인원   4   4       76   483   1538
광주동부경찰서     구속   2   3        2    19      9
광주동부경찰서    불구속   0   1       57   395    801
광주동부경찰서     기타   2   0       17    69    728
광주서부경찰서   발생건수   0   7      196  1142   2293
광주서부경찰서   검거건수   0   7      172   708   2065
광주서부경찰서   검거인원   0  23      188   708   2971
광주서부경찰서     구속   0   8        6    20     31
광주서부경찰서    불구속   0  15      123   582   1356
광주서부경찰서     기타   0   0       59   106   1584
광주남부경찰서   발생건수   0   4       68   577    898
광주남부경찰서   검거건수   0   4       51   522    799
광주남부경찰서   검거인원   0   5       47   363   1107
광주남부경찰서     구속   0   2        1    18      1
광주남부경찰서    불구속   0   2       29   271    591
광주남부경찰서     기타   0   1       17    74    515
광주북부경찰서   발생건수   3   5      215  1546   2176
광주북부경찰서   검거건수   3   5      204  1127   1997
광주북부경찰서   검거인원   3   6      260   898   2863
광주북부경찰서     구속   3   4       39    33     22
광주북부경찰서    불구속   0   0      159   730   1314
광주북부경찰서     기타   0   2       62   135   1527
광주광산경찰서   발생건수   3  12      169   927   1909
광주광산경찰서   검거건수   3  10      144   660   1702
광주광산경찰서   검거인원   3  22      148   594   2390
광주광산경찰서     구속   3  11        6    25     18
광주광산경찰서    불구속   0   7      102   515   1104
광주광산경찰서     기타   0   4       40    54   1268

In [9]:
df2017_2=df2017.drop("광주지방경찰청")

In [6]:
# 구분칼럼없이 값이 발생건수인 데이터만 가져오기
df2015_crime=df2015[df2015['구분']=="발생건수"]
df2015_crime['2015총계']=df2015_crime.sum(axis=1)
df2015_crime

C:\Users\user\AppData\Local\Temp\ipykernel_9556\3427403927.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2015_crime['2015총계']=df2015_crime.sum(axis=1)
C:\Users\user\AppData\Local\Temp\ipykernel_9556\3427403927.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2015_crime['2015총계']=df2015_crime.sum(axis=1)

            구분  살인  강도  강간·강제추행    절도    폭력  2015총계
관서명
광주지방경찰청계  발생건수  18  44      750  8425  9593   18830
광주동부경찰서   발생건수   3   5       92  1100  1155    2355
광주서부경찰서   발생건수   5  10      172  2050  2483    4720
광주남부경찰서   발생건수   1   3       70   962  1081    2117
광주북부경찰서   발생건수   5  14      256  2570  2621    5466
광주광산경찰서   발생건수   4  12      160  1743  2253    4172

In [7]:
df2016_crime=df2016[df2016['구분']=="발생건수"]
df2016_crime['2016총계']=df2016_crime.sum(axis=1)
df2016_crime

C:\Users\user\AppData\Local\Temp\ipykernel_9556\2336537035.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2016_crime['2016총계']=df2016_crime.sum(axis=1)
C:\Users\user\AppData\Local\Temp\ipykernel_9556\2336537035.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2016_crime['2016총계']=df2016_crime.sum(axis=1)

            구분  살인  강도  강간·강제추행    절도    폭력  2016총계
관서명
광주지방경찰청계  발생건수  17  47      701  6052  8599   15416
광주동부경찰서   발생건수   3   8       83   832  1142    2068
광주서부경찰서   발생건수   2  11      174  1417  2288    3892
광주남부경찰서   발생건수   1   4       64   768  1028    1865
광주북부경찰서   발생건수   6   7      205  1788  2142    4148
광주광산경찰서   발생건수   5  17      175  1247  1999    3443

In [12]:
df2017_crime=df2017_2[df2017_2['구분']=="발생건수"]
df2017_crime['2017총계']=df2017_crime.sum(axis=1)
df2017_crime

C:\Users\user\AppData\Local\Temp\ipykernel_9556\48681845.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df2017_crime['2017총계']=df2017_crime.sum(axis=1)
C:\Users\user\AppData\Local\Temp\ipykernel_9556\48681845.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2017_crime['2017총계']=df2017_crime.sum(axis=1)

            구분  살인  강도  강간·강제추행    절도    폭력  2017총계
관서명
광주지방경찰청계  발생건수   9  33      725  4816  8366   13949
광주동부경찰서   발생건수   3   5       77   624  1090    1799
광주서부경찰서   발생건수   0   7      196  1142  2293    3638
광주남부경찰서   발생건수   0   4       68   577   898    1547
광주북부경찰서   발생건수   3   5      215  1546  2176    3945
광주광산경찰서   발생건수   3  12      169   927  1909    3020

In [15]:
s1=df2015_crime["2015총계"]
s3=df2016_crime["2016총계"]
s5=df2017_crime["2017총계"]

In [19]:
#1.전년대비 증감율 계산하기
#2.이름 변경해주기
s2=(s3-s1)/s1* 100
s2.name="2015-2016 증감율"
#Series의 name값은 DataFrame에서 column값으로 사용됨
s4=(s5-s3)/s3*100
s4.name='2016-2017 증감율'

In [26]:
pd.concat([s1,s2,s3,s4,s5],axis=1)

          2015총계  2015-2016 증감율  2016총계  2016-2017 증감율  2017총계
관서명
광주지방경찰청계   18830     -18.130643   15416      -9.516087   13949
광주동부경찰서     2355     -12.186837    2068     -13.007737    1799
광주서부경찰서     4720     -17.542373    3892      -6.526208    3638
광주남부경찰서     2117     -11.903637    1865     -17.050938    1547
광주북부경찰서     5466     -24.112697    4148      -4.893925    3945
광주광산경찰서     4172     -17.473634    3443     -12.285797    3020

## Mergae:무조건 공통 칼럼이 존재해야하며 ,그 공통 칼럼을 기준으로 데이터 프레임을 병합시킴

In [28]:
import numpy as np
import pandas as pd

In [29]:
employee = [{'empno':1, 'ename':'kim', 'dept':1},
            {'empno':2, 'ename':'lee', 'dept':2},
            {'empno':3, 'ename':'park', 'dept':1},
            {'empno':4, 'ename':'song', 'dept':3},
            {'empno':5, 'ename':'min', 'dept':2}
           ]
dept=[{'dept':1, 'deptname':'관리직'},
      {'dept':2, 'deptname':'영업직'},
      {'dept':3, 'deptname':'개발직'}
     ]
info =[{'empno':1, 'addr':'서울시','phone':'010-1111-1111'},
       {'empno':3, 'addr':'부산시','phone':'010-2222-2222'},
       {'empno':2, 'addr':'광주시','phone':'010-3333-3333'},
       {'empno':5, 'addr':'광주시','phone':'010-4444-4444'},
       {'empno':4, 'addr':'광주시','phone':'010-5555-5555'}
      ]

In [31]:
emp=pd.DataFrame(employee)
emp

   empno ename  dept
0      1   kim     1
1      2   lee     2
2      3  park     1
3      4  song     3
4      5   min     2

In [33]:
dept=pd.DataFrame(dept)
dept

   dept deptname
0     1      관리직
1     2      영업직
2     3      개발직

In [35]:
info=pd.DataFrame(info)
info

   empno addr          phone
0      1  서울시  010-1111-1111
1      3  부산시  010-2222-2222
2      2  광주시  010-3333-3333
3      5  광주시  010-4444-4444
4      4  광주시  010-5555-5555

In [36]:
pd.merge(emp,dept)

   empno ename  dept deptname
0      1   kim     1      관리직
1      3  park     1      관리직
2      2   lee     2      영업직
3      5   min     2      영업직
4      4  song     3      개발직

In [37]:
pd.merge(emp,dept,on="dept")

   empno ename  dept deptname
0      1   kim     1      관리직
1      3  park     1      관리직
2      2   lee     2      영업직
3      5   min     2      영업직
4      4  song     3      개발직

In [38]:
pd.merge(dept,emp,on="dept")

   dept deptname  empno ename
0     1      관리직      1   kim
1     1      관리직      3  park
2     2      영업직      2   lee
3     2      영업직      5   min
4     3      개발직      4  song

In [40]:
mg=pd.merge(emp,dept,on="dept")
mg.drop(columns=['dept'],inplace=True)
mg

   empno ename deptname
0      1   kim      관리직
1      3  park      관리직
2      2   lee      영업직
3      5   min      영업직
4      4  song      개발직

In [42]:
mg1=pd.merge(mg,info,on="empno")
mg1.drop(columns=['empno'],inplace=True)
mg1

  ename deptname addr          phone
0   kim      관리직  서울시  010-1111-1111
1  park      관리직  부산시  010-2222-2222
2   lee      영업직  광주시  010-3333-3333
3   min      영업직  광주시  010-4444-4444
4  song      개발직  광주시  010-5555-5555

In [43]:
pd.concat([emp,dept])

   empno ename  dept deptname
0    1.0   kim     1      NaN
1    2.0   lee     2      NaN
2    3.0  park     1      NaN
3    4.0  song     3      NaN
4    5.0   min     2      NaN
0    NaN   NaN     1      관리직
1    NaN   NaN     2      영업직
2    NaN   NaN     3      개발직

In [45]:
pd.concat([emp,dept],axis=1)

   empno ename  dept  dept deptname
0      1   kim     1   1.0      관리직
1      2   lee     2   2.0      영업직
2      3  park     1   3.0      개발직
3      4  song     3   NaN      NaN
4      5   min     2   NaN      NaN