In [2]:
# 라이브러리 import

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
df.to_csv('iris.csv', index = False)

In [8]:
df.to_csv('tmp.csv')

In [14]:
## 데이터 데이스 연결
<pre>
    python 에서 

    pymysal => 일반적인 접속을하여 질의 명령을 보내는 작업을 할 수 있음

    sqlalchemy
    ==>  데이터 베이스의 테이블을 파이썬 객체로 사용할 수 있음
        테이블 자체를 파이썬으로 객체화 할 수 있다.
</pre>

Requirement already satisfied: requests in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (2022.9.24)
Note: you may need to restart the kernel to use updated packages.

# 람다 연습

In [2]:
f = lambda* z :max(z) * 2 
print(f(1,3,7))

14

In [6]:
def func(x):
    if(x/2) - 1 > 0:
        return True
    elif x % 2 == 0:
        return True
    else:
        return False
print(list(filter(func, range(-5,5))))

[-4, -2, 0, 2, 3, 4]

In [50]:
ages = [34, 39, 20, 18, 13, 54]

print('성년 리스트 :')
for a in filter(lambda x: x >= 19, ages): # filter() 함수를 사용한 ages의 필터
print(a, end = ' ')

IndentationError: expected an indented block (2170573752.py, line 5)

## n개의 숫자를 가변인수로 입력받은 후 이 숫자들을 오름차순으로 정렬하여 출력하는 my_sort()함수를 작정하시오

In [7]:
def my_sort(*numbers):
    sorted_nums = sorted(numbers)
    print(sorted_nums)


my_sort(5, 3, 9, 1, 7)

[1, 3, 5, 7, 9]

## n1에서 n2까지의 정수의 합을 구하는 함수 sum_range(n1,n2)를 작성하시오. 이함수를 이용하여 10에서 20까지 정수의 합과 40에서 100까지 정수의 합을 구하여 다음과 같은 출력을 하는 프로그램을 작성하시오 이때 모든 숫자 값 출력문에는 플레이스홀더를 사용하시오

In [15]:


def sum_range(n1, n2):
    total = sum(range(n1, n2 + 1))
    return total


sum_range(10,20)

print(f"{n1}에서 {n2}까지의 정수의 합: {range1_sum}")

NameError: name 'n1' is not defined

<!-- 주민등록번호의 앞 6자리 생년월일은 두 자리의 년도, 두 자리의 월, 두 자리의 날짜로 표현된다. 예를 들어 921030은 1992년 10월 30일을 의미한다. 이렇게 주민등록 번호 형식의 생년월일이 입력될 때 "1992년 10월 30일"과 같은 형태로 날짜를 출력하는 코드를 작성하라. 입력되는 날짜의 연도는 1950년 이후부터 입력된다. 즉, 511010은 1951년 10월 10일이지만, 491010은 2049년 10월 10일로 판단해야 한다.

---
실행 결과
```
주민등록번호 첫 6숫자 형식 입력: 570312
1957년 3월 12일
``` -->

-- 주민등록번호의 앞 6자리 생년월일은 두 자리의 년도, 두 자리의 월, 두 자리의 날짜로 표현된다. 예를 들어 921030은 1992년 10월 30일을 의미한다. 이렇게 주민등록 번호 형식의 생년월일이 입력될 때 "1992년 10월 30일"과 같은 형태로 날짜를 출력하는 코드를 작성하라. 입력되는 날짜의 연도는 1950년 이후부터 입력된다. 즉, 511010은 1951년 10월 10일이지만, 491010은 2049년 10월 10일로 판단해야 한다. --

---
실행 결과
```
주민등록번호 첫 6숫자 형식 입력: 570312
1957년 3월 12일
```

In [21]:
def convert_to_date(num):
    year = int(num[:2])
    month = int(num[2:4])
    day = int(num[4:])
    full_year = 1900 + year if year >= 50 else 2000 + year

    return f"{full_year}년 {month}월 {day}일"

In [22]:
input_num = input("주민등록번호 첫 6숫자 형식 입력: ")
result = convert_to_date(input_num)
print(result)

1960년 10월 45일

## 이름을 나타내는 문자열 네 개가 다음과 같이 네개의 변수에 저장되어 있다. 우리는 이 문자열들에 있는 공백과 하이픈을 제거한 후 , 이문자들을 실행결과와 같이 공백 없는 대문자로 저장하고자한다. 문자열 연산을 이용하여 이 문자열들을 그렇게 변경하고, 변경된 이후에 각문자열에서 문자 "N"이 몇번 나오는지를 표시하라

In [24]:
s1 = 'kang Young Min'
s2 = 'kang Young-Min'
s3 = 'park Dong Min'
s4 = 'park Dong-Min'

In [23]:
def count_N(string):
    modified_string = string.replace(" ", "").replace("-", "").upper()
    count = modified_string.count("N")
    return count

In [28]:
result = count_N(s1)
result2 = count_N(s2)
result3 = count_N(s3)
result4 = count_N(s4)
print(f"문자열 '{s1}'에서 'N'의 개수: {result}")
print(f"문자열 '{s2}'에서 'N'의 개수: {result2}")
print(f"문자열 '{s3}'에서 'N'의 개수: {result3}")
print(f"문자열 '{s4}'에서 'N'의 개수: {result4}")

문자열 'kang Young Min'에서 'N'의 개수: 3
문자열 'kang Young-Min'에서 'N'의 개수: 3
문자열 'park Dong Min'에서 'N'의 개수: 2
문자열 'park Dong-Min'에서 'N'의 개수: 2

어떤 문자열이 다음과 같이 주어져 있다고 하자. 그런데, 이 문자열에 나타난 도시 중에서 'Bython' 시는 최근 'Python'시로 이름을 변경하였다. 이를 반영하여 이 문자열에 나타나는 "Bython"을 모두 "Python"으로 변경하고 변경된 횟수를 다음과 같이 출력하라.
--
실행결과
```
주어진 문자열 : 
Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)

수정된 문자열 : 
Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
Bython 문자열은 모두 3번 수정했습니다.
```

In [34]:
def replace_and_count(string):
    modified_string = string.replace("Bython", "Python")
    count = string.count("Bython")
    return modified_string, count

# 사용 예시
input_string = "Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)"
result_string, count = replace_and_count(input_string)
print(f"변경된 문자열: {result_string}")
print(f"'Bython'이 'Python'으로 변경된 횟수: {count}번")

변경된 문자열: Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
'Bython'이 'Python'으로 변경된 횟수: 3번

In [35]:
str = 'Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)'
src = 'Bython'
target = 'Python'
new_str = str.replace(src, target)
n_correction = str.count(src)

print('주어진 문자열 : \n{}\n'.format(str))
print('수정된 문자열 : \n{}'.format(new_str))
print('{} 문자열은 모두 {}번 수정했습니다.'.format(src, n_correction))

주어진 문자열 :
Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)

수정된 문자열 :
Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
Bython 문자열은 모두 3번 수정했습니다.

['a','b','c','d']와 같은 영문 소문자가 들어 있는 a_list라는 이름을 대문자로 변경하는 map()를 작성하라

In [37]:
a_list = ['a', 'b', 'c', 'd']
upper_list = list(map(lambda x: x.upper(), a_list))
print(upper_list)

['A', 'B', 'C', 'D']

[10,20,30]과 같은 n_list라는 이름의 리스트를 map()함수로 넣은 결과는 다음과 같다

입력 값의 두 배 : [20,40,60]
입력 값의 세 배 : [30,60,90]

In [ ]:
# twice()와 trip

### 리스트 축약 기능과 조건식을 사용하여 1에서 10까지 정수의 세제곱 값 중에서 500이하인 값만 가진 cubic 리스트를 다음과 같이 생성하라
cubic = [1,8,27,64,216,343]

In [41]:
cubic = [n**3 for n in range(1,11)if n**3 <=500]
print(cubic)

[1, 8, 27, 64, 125, 216, 343]

In [45]:
# n_list 데이터에서 홀수만을 추출하여 아래와 같이 만들고 싶다. filter 함수를 이용해 작성해 봐라
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_list = list(filter(lambda x: x % 2 != 0, n_list))
new_list

[1, 3, 5, 7, 9]

In [49]:
# 난수 상태 설정
import random

random.seed(0)

state = random.getstate()
print(random.sample(range(10),k=5))
print(random.sample(range(10),k=5))
random.setstate(state)
print(random.sample(range(10),k=5))

[6, 9, 0, 2, 4]
[7, 6, 4, 3, 2]
[6, 9, 0, 2, 4]

In [53]:
a = "YUN"
b= [1,2,3]
c= ('하나','둘','셋')

print(list(zip(a,b,c)))
print(set(zip(a,b,c,)))
print(dict(zip(a,b)))

[('Y', 1, '하나'), ('U', 2, '둘'), ('N', 3, '셋')]
{('Y', 1, '하나'), ('N', 3, '셋'), ('U', 2, '둘')}
{'Y': 1, 'U': 2, 'N': 3}

In [10]:
# eval() 함수 사용
cr=input('3명의 국어점수(51,67,98)입력:') # 51,67,98 이런식으로 입력해야됨
k1,k2,k3=eval(cr)
print(k1,k2,k3,'합계:',k1+k2+k3)

51 67 98 합계: 216

In [12]:
# 포맷팅 연습

name = input('당신의 이름을 입력하세요:')
age = input('나이를 입력해 주세요')
job = input('당신의 직업을 입력해주세요')

print('당신의 이름은 {}, 나이는 {}살, 직업은 {}입니다.'.format(name, age, job))

당신의 이름은 서인혁, 나이는 28살, 직업은 데이터 분석가입니다.