In [2]:
# 라이브러리 import

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
df.to_csv('iris.csv', index = False)

In [8]:
df.to_csv('tmp.csv')

In [14]:
## 데이터 데이스 연결
<pre>
    python 에서 

    pymysal => 일반적인 접속을하여 질의 명령을 보내는 작업을 할 수 있음

    sqlalchemy
    ==>  데이터 베이스의 테이블을 파이썬 객체로 사용할 수 있음
        테이블 자체를 파이썬으로 객체화 할 수 있다.
</pre>

Requirement already satisfied: requests in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (2022.9.24)
Note: you may need to restart the kernel to use updated packages.

In [2]:
f = lambda* z :max(z) * 2 
print(f(1,3,7))

14

In [6]:
def func(x):
    if(x/2) - 1 > 0:
        return True
    elif x % 2 == 0:
        return True
    else:
        return False
print(list(filter(func, range(-5,5))))

[-4, -2, 0, 2, 3, 4]