In [2]:
# 라이브러리 import

import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = sns.load_dataset('iris')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
df.to_csv('iris.csv', index = False)

In [8]:
df.to_csv('tmp.csv')

In [14]:
## 데이터 데이스 연결
<pre>
    python 에서 

    pymysal => 일반적인 접속을하여 질의 명령을 보내는 작업을 할 수 있음

    sqlalchemy
    ==>  데이터 베이스의 테이블을 파이썬 객체로 사용할 수 있음
        테이블 자체를 파이썬으로 객체화 할 수 있다.
</pre>

Requirement already satisfied: requests in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (1.26.12)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/envs/py3.8/lib/python3.8/site-packages (from requests) (2022.9.24)
Note: you may need to restart the kernel to use updated packages.

# 람다 연습

In [2]:
f = lambda* z :max(z) * 2 
print(f(1,3,7))

14

In [6]:
def func(x):
    if(x/2) - 1 > 0:
        return True
    elif x % 2 == 0:
        return True
    else:
        return False
print(list(filter(func, range(-5,5))))

[-4, -2, 0, 2, 3, 4]

In [50]:
ages = [34, 39, 20, 18, 13, 54]

print('성년 리스트 :')
for a in filter(lambda x: x >= 19, ages): # filter() 함수를 사용한 ages의 필터
print(a, end = ' ')

IndentationError: expected an indented block (2170573752.py, line 5)

## n개의 숫자를 가변인수로 입력받은 후 이 숫자들을 오름차순으로 정렬하여 출력하는 my_sort()함수를 작정하시오

In [7]:
def my_sort(*numbers):
    sorted_nums = sorted(numbers)
    print(sorted_nums)


my_sort(5, 3, 9, 1, 7)

[1, 3, 5, 7, 9]

## n1에서 n2까지의 정수의 합을 구하는 함수 sum_range(n1,n2)를 작성하시오. 이함수를 이용하여 10에서 20까지 정수의 합과 40에서 100까지 정수의 합을 구하여 다음과 같은 출력을 하는 프로그램을 작성하시오 이때 모든 숫자 값 출력문에는 플레이스홀더를 사용하시오

In [15]:


def sum_range(n1, n2):
    total = sum(range(n1, n2 + 1))
    return total


sum_range(10,20)

print(f"{n1}에서 {n2}까지의 정수의 합: {range1_sum}")

NameError: name 'n1' is not defined

<!-- 주민등록번호의 앞 6자리 생년월일은 두 자리의 년도, 두 자리의 월, 두 자리의 날짜로 표현된다. 예를 들어 921030은 1992년 10월 30일을 의미한다. 이렇게 주민등록 번호 형식의 생년월일이 입력될 때 "1992년 10월 30일"과 같은 형태로 날짜를 출력하는 코드를 작성하라. 입력되는 날짜의 연도는 1950년 이후부터 입력된다. 즉, 511010은 1951년 10월 10일이지만, 491010은 2049년 10월 10일로 판단해야 한다.

---
실행 결과
```
주민등록번호 첫 6숫자 형식 입력: 570312
1957년 3월 12일
``` -->

-- 주민등록번호의 앞 6자리 생년월일은 두 자리의 년도, 두 자리의 월, 두 자리의 날짜로 표현된다. 예를 들어 921030은 1992년 10월 30일을 의미한다. 이렇게 주민등록 번호 형식의 생년월일이 입력될 때 "1992년 10월 30일"과 같은 형태로 날짜를 출력하는 코드를 작성하라. 입력되는 날짜의 연도는 1950년 이후부터 입력된다. 즉, 511010은 1951년 10월 10일이지만, 491010은 2049년 10월 10일로 판단해야 한다. --

---
실행 결과
```
주민등록번호 첫 6숫자 형식 입력: 570312
1957년 3월 12일
```

In [21]:
def convert_to_date(num):
    year = int(num[:2])
    month = int(num[2:4])
    day = int(num[4:])
    full_year = 1900 + year if year >= 50 else 2000 + year

    return f"{full_year}년 {month}월 {day}일"

In [22]:
input_num = input("주민등록번호 첫 6숫자 형식 입력: ")
result = convert_to_date(input_num)
print(result)

1960년 10월 45일

## 이름을 나타내는 문자열 네 개가 다음과 같이 네개의 변수에 저장되어 있다. 우리는 이 문자열들에 있는 공백과 하이픈을 제거한 후 , 이문자들을 실행결과와 같이 공백 없는 대문자로 저장하고자한다. 문자열 연산을 이용하여 이 문자열들을 그렇게 변경하고, 변경된 이후에 각문자열에서 문자 "N"이 몇번 나오는지를 표시하라

In [24]:
s1 = 'kang Young Min'
s2 = 'kang Young-Min'
s3 = 'park Dong Min'
s4 = 'park Dong-Min'

In [23]:
def count_N(string):
    modified_string = string.replace(" ", "").replace("-", "").upper()
    count = modified_string.count("N")
    return count

In [28]:
result = count_N(s1)
result2 = count_N(s2)
result3 = count_N(s3)
result4 = count_N(s4)
print(f"문자열 '{s1}'에서 'N'의 개수: {result}")
print(f"문자열 '{s2}'에서 'N'의 개수: {result2}")
print(f"문자열 '{s3}'에서 'N'의 개수: {result3}")
print(f"문자열 '{s4}'에서 'N'의 개수: {result4}")

문자열 'kang Young Min'에서 'N'의 개수: 3
문자열 'kang Young-Min'에서 'N'의 개수: 3
문자열 'park Dong Min'에서 'N'의 개수: 2
문자열 'park Dong-Min'에서 'N'의 개수: 2

어떤 문자열이 다음과 같이 주어져 있다고 하자. 그런데, 이 문자열에 나타난 도시 중에서 'Bython' 시는 최근 'Python'시로 이름을 변경하였다. 이를 반영하여 이 문자열에 나타나는 "Bython"을 모두 "Python"으로 변경하고 변경된 횟수를 다음과 같이 출력하라.
--
실행결과
```
주어진 문자열 : 
Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)

수정된 문자열 : 
Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
Bython 문자열은 모두 3번 수정했습니다.
```

In [34]:
def replace_and_count(string):
    modified_string = string.replace("Bython", "Python")
    count = string.count("Bython")
    return modified_string, count

# 사용 예시
input_string = "Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)"
result_string, count = replace_and_count(input_string)
print(f"변경된 문자열: {result_string}")
print(f"'Bython'이 'Python'으로 변경된 횟수: {count}번")

변경된 문자열: Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
'Bython'이 'Python'으로 변경된 횟수: 3번

In [35]:
str = 'Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)'
src = 'Bython'
target = 'Python'
new_str = str.replace(src, target)
n_correction = str.count(src)

print('주어진 문자열 : \n{}\n'.format(str))
print('수정된 문자열 : \n{}'.format(new_str))
print('{} 문자열은 모두 {}번 수정했습니다.'.format(src, n_correction))

주어진 문자열 :
Park(Java city), Kim(C city), Kang(Bython city), Lee(Bython city), Hong(Ruby city), Cho(Bython city), Koo(C city), Ryu(C++ city)

수정된 문자열 :
Park(Java city), Kim(C city), Kang(Python city), Lee(Python city), Hong(Ruby city), Cho(Python city), Koo(C city), Ryu(C++ city)
Bython 문자열은 모두 3번 수정했습니다.

['a','b','c','d']와 같은 영문 소문자가 들어 있는 a_list라는 이름을 대문자로 변경하는 map()를 작성하라

In [37]:
a_list = ['a', 'b', 'c', 'd']
upper_list = list(map(lambda x: x.upper(), a_list))
print(upper_list)

['A', 'B', 'C', 'D']

[10,20,30]과 같은 n_list라는 이름의 리스트를 map()함수로 넣은 결과는 다음과 같다

입력 값의 두 배 : [20,40,60]
입력 값의 세 배 : [30,60,90]

In [ ]:
# twice()와 trip

### 리스트 축약 기능과 조건식을 사용하여 1에서 10까지 정수의 세제곱 값 중에서 500이하인 값만 가진 cubic 리스트를 다음과 같이 생성하라
cubic = [1,8,27,64,216,343]

In [41]:
cubic = [n**3 for n in range(1,11)if n**3 <=500]
print(cubic)

[1, 8, 27, 64, 125, 216, 343]

In [45]:
# n_list 데이터에서 홀수만을 추출하여 아래와 같이 만들고 싶다. filter 함수를 이용해 작성해 봐라
n_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

new_list = list(filter(lambda x: x % 2 != 0, n_list))
new_list

[1, 3, 5, 7, 9]

In [49]:
# 난수 상태 설정
import random

random.seed(0)

state = random.getstate()
print(random.sample(range(10),k=5))
print(random.sample(range(10),k=5))
random.setstate(state)
print(random.sample(range(10),k=5))

[6, 9, 0, 2, 4]
[7, 6, 4, 3, 2]
[6, 9, 0, 2, 4]

In [53]:
a = "YUN"
b= [1,2,3]
c= ('하나','둘','셋')

print(list(zip(a,b,c)))
print(set(zip(a,b,c,)))
print(dict(zip(a,b)))

[('Y', 1, '하나'), ('U', 2, '둘'), ('N', 3, '셋')]
{('Y', 1, '하나'), ('N', 3, '셋'), ('U', 2, '둘')}
{'Y': 1, 'U': 2, 'N': 3}

In [10]:
# eval() 함수 사용
cr=input('3명의 국어점수(51,67,98)입력:') # 51,67,98 이런식으로 입력해야됨
k1,k2,k3=eval(cr)
print(k1,k2,k3,'합계:',k1+k2+k3)

51 67 98 합계: 216

In [12]:
# 포맷팅 연습

name = input('당신의 이름을 입력하세요:')
age = input('나이를 입력해 주세요')
job = input('당신의 직업을 입력해주세요')

print('당신의 이름은 {}, 나이는 {}살, 직업은 {}입니다.'.format(name, age, job))

당신의 이름은 서인혁, 나이는 28살, 직업은 데이터 분석가입니다.

In [14]:
for i  in range(2,15,2):
    print('{0} {1} {2}'.format(i,i*i,i*i*i))

2 4 8
4 16 64
6 36 216
8 64 512
10 100 1000
12 144 1728
14 196 2744

In [15]:
for i in range(2, 15, 2):
    print('{0:3d} {1:4d} {2:5d}'.format(i, i*i, i*i*i))

  2    4     8
  4   16    64
  6   36   216
  8   64   512
 10  100  1000
 12  144  1728
 14  196  2744

## 연습문제

# 두수를 입력받아

In [16]:
print(" ".join(['you','need','python']))

you need python

In [69]:
# 워킹 디렉토리 확인

import os
os.getcwd()

'/Users/mac/Documents/GitHub/pythorn/개인공부'

In [24]:
# write.data
f = open('/Users/mac/Documents/새파일.text','r')
lines = f.readlines()
for line in lines:
    print(line)
f.close


for i in range(1,11):
    data = '%d번째 줄입니다.\n' %i
    f.write(data)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

UnsupportedOperation: not writable

In [ ]:
# read 함수 이용하기

In [26]:
with open('foo.txt','w') as f:
    f.write('Life is too short, you need python')
f.close

In [27]:
import sys
sys.path

['/Users/mac/Documents/GitHub/pythorn/개인공부',
 '/opt/anaconda3/envs/py3.8/lib/python38.zip',
 '/opt/anaconda3/envs/py3.8/lib/python3.8',
 '/opt/anaconda3/envs/py3.8/lib/python3.8/lib-dynload',
 '',
 '/opt/anaconda3/envs/py3.8/lib/python3.8/site-packages']

In [ ]:
a = input().split(',')

In [29]:
import sys
args = sys.argv[1:]
for i in args:
    print(i.upper(), end= ' ')

--IP=127.0.0.1 --STDIN=9003 --CONTROL=9001 --HB=9000 --SESSION.SIGNATURE_SCHEME="HMAC-SHA256" --SESSION.KEY=B"DA86B858-FF76-426F-B2DD-D854A95A22FC" --SHELL=9002 --TRANSPORT="TCP" --IOPUB=9004 --F=/USERS/MAC/LIBRARY/JUPYTER/RUNTIME/KERNEL-V2-43800EG4GHP1LGQAQ.JSON

In [30]:
st =input('저장할 내용을 입력하세요:')
with open('foo.txt','w') as f:
    f.write(st)
f.close

In [39]:

with open("simple.txt", "w") as file:
    for i in range(1, 11):
        line = f"{i}\n"  # 각 줄의 내용
        file.write(line)

In [41]:
# simple.txt 파일을 읽어드린다음에 사용로 부터 양의 정수를 n으로 입력받아 최초의 n번쨰 줄까지 화면에 출략하는 프로그램을 작성하시오.

# 파일 읽기
with open("simple.txt", "r") as file:
    lines = file.readlines()

# 양의 정수 n 입력 받기
while True:
    n = input("양의 정수를 입력하세요: ")
    if n.isdigit() and int(n) > 0:
        n = int(n)
        break
    else:
        print("유효한 양의 정수를 입력해주세요.")

# 최초의 n번째 줄까지 출력
for i in range(n):
    if i < len(lines):
        print(lines[i].strip())
    else:
        break

1
2
3
4
5
6
7
8

## 랜덤 모듈의 randint을 이용하여 1에서 1000까지의 임의의 정수를 10개 생성하여 random_numbers.txt 라는 이름의 파일로 저장하시오

In [48]:
import random
# 10개의 임의의 정수 생성
random_numbers = [random.randint(1, 1000) for _ in range(10)]

# 파일에 쓰기
with open("random_numbers.txt", "w") as file:
    for number in random_numbers:
        file.write(str(number) + " ")
        print(number, end = ' ')

50 237 687 847 392 200 200 740 739 992

## random_numbers.txt 라는 파일로부터 숫자를 읽어 들인후 이들중 짝수인 값을 가지는 정수를 저장하는 random_even.txt 라는 파일을 만들어라

In [52]:
# "random_numbers.txt" 파일에서 짝수 값을 가지는 정수를 읽어와 "random_even.txt" 파일에 저장
with open("random_numbers.txt", "r") as input_file, open("random_even.txt", "w") as output_file:
    for line in input_file:
        numbers = line.strip().split()  # 공백으로 구분된 숫자들을 리스트로 분할
        for number in numbers:
            number = int(number)
            if number % 2 == 0:
                output_file.write(str(number) + " ")
                print(number, end= ' ')

50 392 200 200 740 992

In [59]:
import random

# 1에서 10 사이의 랜덤한 숫자 30개 생성
random_numbers = [str(random.randint(1, 10)) for _ in range(30)]

# 파일에 쓰기
with open("randint30.txt", "w") as file:
    file.write(" ".join(random_numbers))
    print(random_numbers, end= '')

['3', '1', '2', '5', '6', '10', '1', '3', '8', '8', '9', '5', '10', '2', '8', '8', '7', '8', '8', '4', '6', '2', '3', '5', '4', '7', '10', '5', '3', '3']

In [66]:
pip install mod1

Collecting mod1
  Downloading mod1-1.0.1.zip (747 bytes)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mod1
  Building wheel for mod1 (setup.py) ... done
  Created wheel for mod1: filename=mod1-1.0.1-py3-none-any.whl size=1197 sha256=4357d4199c5067cc150f44d55e8f3c87d8ff9d58636ea07a503ee4230024f6cc
  Stored in directory: /Users/mac/Library/Caches/pip/wheels/5b/c9/cb/d10adb2daea21cd517c0105d0ad5b8ee20e35b489963c36ab4
Successfully built mod1
Installing collected packages: mod1
Successfully installed mod1-1.0.1
Note: you may need to restart the kernel to use updated packages.

In [68]:
import mod1

print(mod1.sum(3,4))

AttributeError: module 'mod1' has no attribute 'sum'

In [74]:
import know.hello,know.say_goodbye


know.say_goodbye.hello()
know.hello.goodbye()

안녕하세요 반갑습니다
만나서 반가웠습니다. 빠요~!

## age = [34,39,20,18,13,54]
에서 나이가 20이상인 데이터만 뽑아서 리스트 변수로 
new_ages = [34,39,20,54] 이를 리스트 축약으로 표현하라

In [77]:
age = [34,39,20,18,13,54]

new_ages = [num for num in age if num >= 20 ]
new_ages.sort()

print(new_ages)

[20, 34, 39, 54]

# hello.txt 을 생성하고 그안에 'hello.와 'Hi there'을 추가하시오

In [2]:
with open("hello.txt", "w") as file:
    file.write("Hello.\n")
    file.write("Hi there.\n")

## hello.txt을 open()함수를 통해 읽어서 파일 내용 맨 밑줄에 'Welcome to Python!'이라는 문자열을 추가한 후 저장하고 한 번 파일을 열어라

In [4]:
with open("hello.txt", "r") as file:
    lines = file.readlines()

# 'Welcome to Python!' 문자열 추가
lines.append("Welcome to Python!\n")

# 파일에 쓰기
with open("hello.txt", "w") as file:
    file.writelines(lines)


# 수정된 파일 다시 열기 및 내용 출력
with open("hello.txt", "r") as file:
    file_contents = file.read()

print(file_contents)

Hello.
Hi there.
Welcome to Python!
Welcome to Python!

## math 모듈을 이용하여 0에서 10까지 정수의 제곱근을 다음과 같이 소수점 아래 셋째자리까지 출력하라

## 예시)
## sqrt( 1) = 1000

## sqrt( 2)= 1.414

In [5]:
import math

for i in range(11):
    square_root = math.sqrt(i) #sqrt(숫자) = 제곱근
    print(f"sqrt({i}) = {square_root:.3f}") # : .3f는 소수점 아래 세 자리까지의 부동소수점 숫자를 나타내기 위한 형식 지정자입니다.

sqrt(0) = 0.000
sqrt(1) = 1.000
sqrt(2) = 1.414
sqrt(3) = 1.732
sqrt(4) = 2.000
sqrt(5) = 2.236
sqrt(6) = 2.449
sqrt(7) = 2.646
sqrt(8) = 2.828
sqrt(9) = 3.000
sqrt(10) = 3.162

1~10 사이에 정수중 sample 함수를 이용하여 3가지 정수를 출력하시오

In [6]:
import random

numbers = list(range(1, 11))
sampled_numbers = random.sample(numbers, 3)

print(sampled_numbers)

[4, 7, 5]

## 로미오와 줄리엣이 주사위를 던져서 숫자 더 큰쪽이 이겼습니다 라는 문자을 출력하는 코드를 작성하시오

In [46]:
import random

num_a = random.randrange(1,7)
print('로미오의 주사위 숫자는 %d 입니다.' % num_a)
num_b = random.randrange(1,7)
print('줄리엣의 주사위 숫자는 %d 입니다.' % num_b)

if num_a > num_b :
    print('로미오가 이겼습니다.')
elif num_a == num_b :
    print('로미오와 줄리엣이 비겼습니다')

else:
    print('줄리엣이 이겼습니다.')

로미오의 주사위 숫자는 6 입니다.
줄리엣의 주사위 숫자는 6 입니다.
로미오와 줄리엣이 비겼습니다

랜덤 숫자 맞추기 게임 프로그램을 작성하라. 먼저 랜덤하게 1~20까지의 숫자 x를 하나 생성시키고 사용자는 숫자를 하나씩 입력하면서 생성된 숫자 x와 비교해 큰지 작은지를 보고 숫자를 맞춰가는 게임이다. 컴퓨터는 사용자가 입력한 숫자 x가 정답보다 큰지 작은지를 알려주어야 한다. 그리고 사용자가 시도를 할 때 마다 시도한 횟수가 n에 저장되도록 한다.
 만일 입력한 숫자와 x가 일치하면 “정답입니다!”라는 메시지를 출력한다. 이 때 3번 이하로 입력하여 숫자를 맞추면 “n번 만에 맞춘 당신은 천재!”, 3번 이상 6번 이하로 입력하여 숫자를 맞추면 “n번 만에 맞추셨네요. 잘 했어요^^”, 7번 이상으로 숫자를 입력하여 맞추면 “n번 만에 맞추다니 쩝쩝...” 이라고 출력하라.
---
```
1~20까지의 숫자를 입력하세요: 3
3 보다 큽니다!
1~20까지의 숫자를 입력하세요: 9
9 보다 작습니다!
1~20까지의 숫자를 입력하세요: 6
6 보다 작습니다!
1~20까지의 숫자를 입력하세요: 5
5 보다 작습니다!
1~20까지의 숫자를 입력하세요: 4
정답입니다!
5 번만에 맞추셨네요. 잘했어요^^
```

In [50]:
import random

x = random.randint(1, 20) # 1~20 사이에 랜덤한 수 설정
n = 0

while True:
    guess = int(input("숫자를 입력하세요: "))
    n += 1

    if guess < x:
        print("숫자가 작습니다. 다시 시도해보세요.")
    elif guess > x:
        print("숫자가 큽니다. 다시 시도해보세요.")
    else:
        break

# 평가 출력

if n <= 3:
    print("정답입니다!")
    print(f"{n}번 만에 맞춘 당신은 천재!")
elif n <= 6:
    print("정답입니다!")
    print(f"{n}번 만에 맞추셨네요. 잘 했어요^^")
else:
    print("정답입니다!")
    print(f"{n}번 만에 맞추다니 쩝쩝...")

정답입니다!
1번 만에 맞춘 당신은 천재!

In [52]:
# 상속

class BaseClass:
    def myfunc(self):
        print("BaseClass's myfunc")

class Inhclass(BaseClass):
    def myfunc(self):
        print("Inhclass's myfunc")


ex1 = BaseClass()
ex1.myfunc()

ex2 = Inhclass()
ex2.myfunc()

BaseClass's myfunc
Inhclass's myfunc

In [62]:
# 다중 상속

class Base1:
    def myfunc(self):
        print('Base1')

class Base2:
    member1 = 100
    member2 = 200


class Base3:
    def myfunc2(self,a,b):
        print(a+b)
class Inhclass(Base1, Base2, Base3):
    member3 = 300

ex1 = Inhclass()

ex1.myfunc()

Base1

ex1.myfunc2(ex1.member1,ex1.member3)

Base1
400

### 다음과 같은 기능을 가지는 클래스를 정의하고, 인스턴스를 생성하여라.
- 이름과 나이를 속성으로 가지는 Dog 클래스를 정의하라.
- 이름으로 "Mango" ,나이로 3의 값을 가지는 my_dog 인스턴스를 생성하여라
- my_dog의 이름과 나이를 다음과 같이 출력하여라

In [71]:
# class 생성
class Dog:
    def __init__(self, name, age):
        self.name = name
        self.age = age

my_dog = Dog("Mango", 3)
print(type(my_dog))

print(f"Dog의 이름은 {my_dog.name} 이고, 나이는 {my_dog.age}살 입니다")

<class '__main__.Dog'>
Dog의 이름은 Mango 이고, 나이는 3살 입니다

In [72]:
class Dog:
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def __str__(self):
    return '이름은 {}이고, 나이는 {}살입니다.'.format(self.name, self.age)
    
my_dog = Dog('Mango', 3)
print(my_dog)

이름은 Mango이고, 나이는 3살입니다.

In [ ]:
## 초기화 함수 self는 무조건이다...

In [73]:
class calculator :
    def __init__(self):
        self.value = 0 
    def add (self,val):
        self.value += val


## 위 클래스를 상속하는 Upgrade calculator를 만들고 값을 뺄수 있는 minus 메소드가 작동하는 클래스 만들어라

In [80]:
class UpgradeCalculator(calculator):
    def minus(self, val):
        self.value -= val

cal = UpgradeCalculator()
cal.add(10)
cal.minus(7)

print(cal.value) # 10에서 7을 뺀 3을 출력

3

In [83]:

class Calculator:
    def __init__(self):
        self.value=0
        
    def add(self, val):
        self.value += val
        
class MaxLimitCalculator(Calculator):
    def add(self, val):
        super().add(val)
        if self.value >= 100:
            self.value=100
        
cal=MaxLimitCalculator()
cal.add(50)
cal.add(60)

print(cal.value)

100

In [89]:

# 나의 답
class Calculator:
    def __init__(self, numbers):
        self.numbers = numbers

    def sum(self):
        return sum(self.numbers)

    def avg(self):
        return sum(self.numbers) / len(self.numbers)


cal1 = Calculator([1, 2, 3, 4, 5])
print(cal1.sum())  # 출력: 15
print(cal1.avg())  # 출력: 3.0

cal2 = Calculator([6, 7, 8, 9, 10])
print(cal2.sum())  
print(cal2.avg())

15
3.0
40
8.0

In [90]:
# 강사님 답

class Calculator:
    count=0
    def __init__(self, val):
        self.value1=0
        self.value2=0
        self.list=val
        
    def sum(self):
        for i in self.list:
            self.value1 += i
        return self.value1
    
    def avg(self):
        for i in self.list:
            self.value2 += i
            self.count+=1
        return self.value2/self.count



cal1=Calculator([1,2,3,4,5])
print(cal1.sum())
print(cal1.avg())

cal2=Calculator([6,7,8,9,10])
print(cal2.sum())
print(cal2.avg())

15
3.0
40
8.0

다음과 같은 기능을 가지는 은행계좌 클래스 BankAccount 클래스를 구현하여라. 그리고 이 클래스를 이용하여 인스턴스를 생성하여라. 이 클래스는 다음과 같은 속성과 동작을 가진다.
* 속성
  * 이름(name)
  * 계좌번호(account_num)
  * 잔액(balance)
* 행동
  * 예금 기능 : deposit(money)
    * money 만큼의 돈을 balance에 추가한다.
  * 출금 기능 : withdraw(money)
    * money 만큼의 돈이 balance에서 빠져나간다(balance가 money보다 작으면 출금이 되지 않는다).
---

## BankAccount라는 클래스를 만든 후 다음과 같이 account1이라는 계좌를 생성하고 2000원을 입금하여라. 이 계좌 정보를 출력한 후 500원을 출금한 후 다음과 같이 계좌 정보를 출력하여라. 마지막으로 5000원을 출금하여라.

In [122]:
class BankAccount:
    def __init__(self, owner, account_number):
        self.owner = owner
        self.account_number = account_number
        self.balance = 0

    def deposit(self, amount):
        self.balance += amount
        print(f'{amount}원이 입급되었습니다. 잔고는{self.balance}입니다.')
    def withdraw(self, amount):
        if self.balance >= amount:
            self.balance -= amount
           
        else:
            print(f'출금 요청주신 {amount}원이 잔고금액인 {self.balance}원보다 금액이 많습니다.')

    def __str__(self):
        return f"{self.owner}님의 계좌{self.account_number}의 잔고 {self.balance}원입니다."


account1 = BankAccount("홍길동", "1234-0001")
print(account1)
account1.deposit(2000)
print(account1)
account1.withdraw(500)
print(account1)
account1.withdraw(5000)

홍길동님의 계좌1234-0001의 잔고 0원입니다.
2000원이 입급되었습니다. 잔고는2000입니다.
홍길동님의 계좌1234-0001의 잔고 2000원입니다.
홍길동님의 계좌1234-0001의 잔고 1500원입니다.
출금 요청주신 5000원이 잔고금액인 1500원보다 금액이 많습니다.

In [125]:
class BankAccount2:
    """A class example in python that models a bank account"""
    def __init__(self, name, account_num, balance=0):
        self.name = name
        self.account_num = account_num
        self.balance = balance
    
    def get_name():
      return self.name
    
    def get_account_num():
      return self.account_num
    
    def get_balance():
      return self.balance
    def deposit(self, amount):
        self.balance += amount
        print('{}원이 입금되었습니다. 잔고는 {}원입니다.'.format(amount,\
                                                 self.balance))
        return self.balance
  
    def withdraw(self, amount):
        if self.balance - amount > 0 :
            self.balance -= amount
        else:
          
            print('계좌 잔고는 {}원으로 인출 요구 금액 '\
          '{}원보다 작습니다.'.format(self.balance, amount))

    def __str__(self):
      return '{}님의 계좌 {}의 잔고는 {:,}원입니다.'.format(self.name,\
                                             self.account_num, self.balance)
account1 = BankAccount("홍길동", "1234-0001")
print(account1)
account1.deposit(2000)
print(account1)
account1.withdraw(500)
print(account1)
account1.withdraw(5000)

홍길동님의 계좌1234-0001의 잔고 0원입니다.
2000원이 입급되었습니다. 잔고는2000입니다.
홍길동님의 계좌1234-0001의 잔고 2000원입니다.
홍길동님의 계좌1234-0001의 잔고 1500원입니다.
출금 요청주신 5000원이 잔고금액인 1500원보다 금액이 많습니다.

다음 기능을 가진 Dog 클래스를 생성하고 인스턴스와 메소드를 호출하여라.
- a) name 이라는 속성을 가진다.
- b) def __init__(self, name): 이라는 초기화 메소드를 가진다. 이 메소드를 통해서 이름을 초기화 한다.
- c) my_dog = Dog('Jindo') 라는 명령어로 my_dog 인스턴스를 생성한다.
- d) Dog 클래스의 __str__() 메소드를 정의하여 print('my_dog의 정보 :',my_dog)와같은 명령문에 대해 다음과 같은 출력이 나타나도록 하여라.

- my_dog의 정보 : 우리집 개 이름은 Jindo입니다.

In [130]:
class Dog :
    def __init__(self,name):
        self.name = name
    def __str__(self):
        return f"우리집 개 이름은 {self.name}입니다."

my_dog = Dog('Jindo')
print(my_dog)

우리집 개 이름은 Jindo입니다.

Student라는 클래스를 만든 후 다음과 같이 student이라는 학생 인스턴스를 생성하고 사용자로부터 
다음과 같이 이름, 학번을 입력받은 후, 3번에 걸쳐 국어, 수학, 과학 점수를 입력받으면 아래와 같은 결과물을 출력하는 코드를 작성해 보세요.

In [141]:
class Student:
    def __init__(self, name, student_id):
        self.name = name
        self.student_id = student_id
        self.korean_quiz = 0
        self.math_quiz = 0
        self.science_quiz = 0

    def set_korean_quiz(self, score):
        self.korean_quiz = score

    def set_math_quiz(self, score):
        self.math_quiz = score

    def set_science_quiz(self, score):
        self.science_quiz = score

    def calculate_total_score(self):
        total_score = self.korean_quiz + self.math_quiz + self.science_quiz
        return total_score

    def calculate_average_score(self):
        total_score = self.calculate_total_score()
        average_score = total_score / 3
        return average_score

    def __str__(self):
        return f"학생 이름: {self.name}\n학번: {self.student_id} 국어 성적: {self.korean_quiz}수학 성적: {self.math_quiz}과학 성적: {self.science_quiz}\n합계: {self.calculate_total_score()},평균: {self.calculate_average_score()}"


name = input('학생의 이름을 입력하세요: ')
student_id = input('학생의 학번을 입력하세요: ')

student = Student(name, student_id)
korean_quiz = int(input('학생의 국어 성적을 입력하세요: '))
math_quiz = int(input('학생의 수학 성적을 입력하세요: '))
science_quiz = int(input('학생의 과학 성적을 입력하세요: '))

student.set_korean_quiz(korean_quiz)
student.set_math_quiz(math_quiz)
student.set_science_quiz(science_quiz)

print(student)

학생 이름: 홍길동
학번: 20150251 국어 성적: 85수학 성적: 90과학 성적: 95
합계: 270,평균: 90.0