In [32]:
import requests as req

In [65]:
res =req.get('https://movie.naver.com/movie/point/af/list.naver')

In [34]:
res

### <네이버 영화>별점 가져오기

In [35]:
from bs4 import BeautifulSoup as bs

In [36]:
soup=bs(res.text,'html.parser')

In [37]:
socore=soup.select("div.list_netizen_score > em")

In [41]:
socore_list= []
for i in socore:
    socore_list.append(i.text)

### 타이틀

In [73]:
title=soup.select("td.title > a.movie.color_b")

In [74]:
title

[<a class="movie color_b" href="?st=mcode&amp;sword=201641&amp;target=after">공조2: 인터내셔날</a>,
 <a class="movie color_b" href="?st=mcode&amp;sword=204159&amp;target=after">성적표의 김민영</a>,
 <a class="movie color_b" href="?st=mcode&amp;sword=201641&amp;target=after">공조2: 인터내셔날</a>,
 <a class="movie color_b" href="?st=mcode&amp;sword=204640&amp;target=after">육사오(6/45)</a>,
 <a class="movie color_b" href="?st=mcode&amp;sword=184518&amp;target=after">라야와 마지막 드래곤</a>,
 <a class="movie color_b" href="?st=mcode&amp;sword=201641&amp;target=after">공조2: 인터내셔날</a>,
 <a class="movie color_b" href="?st=mcode&amp;sword=201641&amp;target=after">공조2: 인터내셔날</a>,
 <a class="movie color_b" href="?st=mcode&amp;sword=201641&amp;target=after">공조2: 인터내셔날</a>,
 <a class="movie color_b" href="?st=mcode&amp;sword=204640&amp;target=after">육사오(6/45)</a>,
 <a class="movie color_b" href="?st=mcode&amp;sword=201701&amp;target=after">불도저에 탄 소녀</a>]

In [66]:
soup=bs(res.text,'html.parser')

In [76]:
title_list=[]
for r  in title:
    print(r.text)
    title_list.append(r.text)

공조2: 인터내셔날
성적표의 김민영
공조2: 인터내셔날
육사오(6/45)
라야와 마지막 드래곤
공조2: 인터내셔날
공조2: 인터내셔날
공조2: 인터내셔날
육사오(6/45)
불도저에 탄 소녀

## 리뷰

In [ ]:
view= soup.select("td.title")

In [95]:
view_list=[]
for v in view:
    view_list.append(v.text)

In [97]:
test=view_list[0].split("\n\n")[2]
test

'중간에 잠...자다가 총질에 씨끄러워서 깸...더 놀란건 평점이 너무 높음.왜?ㅅㅂ \n\t\t\t\n\t\t\t\n\t\t\t\n\t\t\t\t\n\t\t\t\t\n\t\t\t\t\n\t\t\t\t신고\n'

In [98]:
test= test.replace("\n","")
test= test.replace("\t","")
test= test.replace("신고","")

In [99]:
test

'중간에 잠...자다가 총질에 씨끄러워서 깸...더 놀란건 평점이 너무 높음.왜?ㅅㅂ '

In [133]:
view= soup.select("td.title")
view_list=[]
for c in view:
        review = c.text 
        review = review.split('\n\n')[2]
        review = review.replace('\n','')
        review = review.replace('신고','')
        review =review.replace('\t','')
        view_list.append(review)

In [102]:
len(view_list)

10

## 페이지 10쪽 까지

In [106]:
page = range(1,11)

In [147]:
from tqdm import tqdm_notebook as tqdm

In [162]:
total_title_list = []
total_review_list = []
total_socore_list = []

for i in tqdm(page):
    url= "https://movie.naver.com/movie/point/af/list.naver?&page={}".format(i)
    res= req.get(url)
    soup=bs(res.text,'html.parser')
    #평점
    socore=soup.select("div.list_netizen_score > em")
    for i in socore:
        total_socore_list.append(i.text)
    #제목
    title=soup.select("td.title > a.movie.color_b")
    for r  in title:
        total_title_list.append(r.text)
    #리뷰
    view= soup.select("td.title")
    for c in view:
        review = c.text 
        review = review.split('\n\n')[2]
        review = review.replace('\n','')
        review = review.replace('신고','')
        review = review.replace('\t','')
        total_review_list .append(review)

C:\Users\user\AppData\Local\Temp\ipykernel_2852\3084863588.py:5: TqdmDeprecationWarning: This function will be removed in tqdm==5.0.0
Please use `tqdm.notebook.tqdm` instead of `tqdm.tqdm_notebook`
  for i in tqdm(page):

  0%|          | 0/10 [00:00<?, ?it/s]

### 데이터 프레임화  하기

In [159]:
movie={'영화제목':total_title_list,'리뷰 내용':total_review_list, '영화점수':total_socore_list}

In [157]:
len(total_title_list),len(total_review_list),len(total_socore_list)

(100, 100, 100)

In [161]:
movieone= pd.DataFrame(movie)
movieone

             영화제목                                              리뷰 내용 영화점수
0           서울대작전                       실망스럽네요. 다들 연기 너무 못해요. 억지스러움     1
1   인생은 뷰티풀: 비타돌체  천재 아티스트  김호중의 음악에 대한 고뇌와 열정과 사랑을 보게해주는 영화였어요 노...   10
2             썬다운                                      그냥 이런 삶도 있구나     8
3       육사오(6/45)                    나의 웃음코드와 너무 통하고한번 꼰 풍자 너무 재미있음    10
4          비커밍 제인                        이 가을 제인 오스틴 소설과 함께하고 싶어지네요     8
..            ...                                                ...  ...
95           비상선언  영화는 모르겠고 전도연의 한마디가 참 좋네요그게 책임없는 소리인지 모르겠지만그만 둿...   10
96              놉       기묘한 인생이다. 신발 세워진 거 보고 신발처럼 웃는 짤 생각함 덜 무서울려고     8
97             카터                               액션 볼만하던데? 연기도 좋았는데?    10
98     공조2: 인터내셔날  현빈 왜케 멋있는거예요~~. 다니엘 헤니 와우 정말 보는내내. 눈을 호강시켜주네요 ...   10
99     공조2: 인터내셔날  1편보다 더 코믹과 액션이 업되서 돌아온 영화라서 영화관에서 엄청웃고왔음 이번엔 진...   10

[100 rows x 3 columns]