### 분리형
- 정수형(int)
- 논리형(BOOiean)
- 실수형(float)
- 문자형(str)

In [2]:
sum=3

In [3]:
sum

3

### 인덱싱과 슬라이싱

In [5]:
name = 1
fire = 2
banana=3
a=4
b=6

In [8]:
a=4
b=6
add=a+b
add

10

In [10]:
#변수 이름은 검은색
#인덱싱을 하나 슬라이싱은 구간 지정

SyntaxError: invalid syntax (4232502370.py, line 2)

In [16]:
["apple","banana","melon"][0][0]

'a'

In [17]:
##]]]가 있다는건 리스트가 3개다

In [18]:
"watermelon"[5:10]

'melon'

In [19]:
"watermelon"[-5:]

'melon'

In [21]:
"watermelon"[0:5]

'water'

In [22]:
"watermelon"[:5]

'water'

## 포맷팅

In [24]:
ID= "wifi"
ID

'wifi'

In [28]:
fruit1 = "망고"
fruit2 = "파인애플"
fruit3 = "멜론"

print(f"시장에 가면 {fruit1}이/가있다.")

시장에 가면 망고이/가있다.

In [32]:
sentence = "there is a market"
sentence.find("a")

sentence.count 
sentence.find("a")

9

In [33]:
sentence.upper()

'THERE IS A MARKET'

In [35]:
sentence. lower()

'there is a market'

In [37]:
sentence.split("a")

['there is ', ' m', 'rket']

In [38]:
## repalce 변경하라
##문자열 없애기
sentence.replace("mango","") 이렇게 하면 없애는거 가능1

## 연산하기

In [42]:
# 연산자 7를 2로 나누 었을때 몫을 반환
7//2

3

In [44]:
7%2

1

In [45]:
7**2

49

In [46]:
num= 7
num=num+7
num

14

In [47]:
num +=7
num

21

문자끼리의 연산

In [48]:
a="안녕"
b= "하세요"
a+b

'안녕하세요'

In [49]:
a-b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [50]:
a/b

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [53]:
a*3

'안녕안녕안녕'

In [60]:
print(7+7)
print(int('7')+int('7'))

14
14

In [64]:
##그 자료형의 인덱싱의 갯수
fruit={"mango","grape","apple","banana"}
len(fruit)

4

In [66]:
len(fruit[0])

TypeError: 'set' object is not subscriptable

In [67]:
1==3 ##1과3은 같다

False

In [68]:
##명제를 배우는 이유는 조건문 때문

## 조건문

In [ ]:
if 명제 : 
    명제가 참일 때 실행하는 코드
else :
    명제가 거짓일 때 실행하는 코드

In [ ]:
sutfa = 3
#sutja = 4
#sutja = 5

In [73]:
if sutfa%2 == 0:
    print("짝수 입니다.")
else :
    print("홀수 입니다.")

NameError: name 'sutfa' is not defined

In [74]:
fruit={"mango","grape","apple","banana"}
"mango" in fruit

True

In [75]:
'm'(#작은 범위)in 'mango'(#큰범위)

True

In [76]:
fruit={"mango","grape","apple","banana"}
("mango"in fruit) and ("grape" in fruit )

True

In [77]:
#if문을 통해 tell me 를 찾는다.

In [94]:
lyrics = """
너도 날 좋아할 줄은 몰랐어
어쩌면 좋아 너무나 좋아
꿈만 같아서 나
내 자신을 자꾸 꼬집어 봐 너무나 좋아
니가 날 혹시 안 좋아할까봐
혼자 얼마나 애 태운지 몰라
그런데 니가 날 사랑한다니
어머나, 다시 한 번 말해봐
**
Tell me tell me
tell tell tell tell tell tell me
나를 사랑한다고 날 기다려 왔다고
Tell me tell me
tell tell tell tell tell tell me
내가 필요하다 말해, 말해줘요
Tell me tell me
tell tell tell tell tell tell me
자꾸만 듣고 싶어 계속 내게 말해줘
Tell me tell me
tell tell tell tell tell tell me
꿈이 아니라고 말해, 말해줘요 **
어쩜 내 가슴이 이렇게 뛰니
가슴이 정말 터질 것 같아
니가 날 볼 때면
전기에 감전된 사람처럼 전기가 올라
얼마나 오래 기다린지 몰라
얼마나 오래 꿈 꿨는지 몰라
그런데 니가 날 사랑한다니 어머나,
다시 한 번 말해봐
** repeat
Tell me tell me tell me you
Want me want me want me too
Tell me tell me tell me you
Love me too Love me too
얼마나 오래 기다린지 몰라
얼마나 오래 꿈 꿨는지 몰라
그런데 니가 날 사랑한다니
어머나, 다시 한 번 말해봐
** repeat
Tell me tell me
tell tell tell tell tell tell me
tell tell tell tell tell tell me
Tell me
"""

if "tell me"in lyrics  :
    print("tell me가 있습니다.")
else :
    print("tell me가 없습니다.")

tell me가 있습니다.

'\n너도 날 좋아할 줄은 몰랐어\n어쩌면 좋아 너무나 좋아\n꿈만 같아서 나\n내 자신을 자꾸 꼬집어 봐 너무나 좋아\n니가 날 혹시 안 좋아할까봐\n혼자 얼마나 애 태운지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\n**\nTell me tell me\ntell tell tell tell tell tell me\n나를 사랑한다고 날 기다려 왔다고\nTell me tell me\ntell tell tell tell tell tell me\n내가 필요하다 말해, 말해줘요\nTell me tell me\ntell tell tell tell tell tell me\n자꾸만 듣고 싶어 계속 내게 말해줘\nTell me tell me\ntell tell tell tell tell tell me\n꿈이 아니라고 말해, 말해줘요 **\n어쩜 내 가슴이 이렇게 뛰니\n가슴이 정말 터질 것 같아\n니가 날 볼 때면\n전기에 감전된 사람처럼 전기가 올라\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니 어머나,\n다시 한 번 말해봐\n** repeat\nTell me tell me tell me you\nWant me want me want me too\nTell me tell me tell me you\nLove me too Love me too\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\n** repeat\nTell me tell me\ntell tell tell tell tell tell me\ntell tell tell tell tell tell me\nTell me\n'

In [97]:
lyrics = lyrics.replace(\n," ")
lyrics = lyrics.lower()
lyrics = lyrics.replace("tell me","")
lyrics

SyntaxError: unexpected character after line continuation character (1995578759.py, line 1)

In [106]:
# 가리는 경우

lyrics = lyrics.replace("tell me","@@@@@@@@@")
lyrics

'\n너도 날 좋아할 줄은 몰랐어\n어쩌면 좋아 너무나 좋아\n꿈만 같아서 나\n내 자신을 자꾸 꼬집어 봐 너무나 좋아\n니가 날 혹시 안 좋아할까봐\n혼자 얼마나 애 태운지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\n**\n \ntell tell tell tell tell \n나를 사랑한다고 날 기다려 왔다고\n \ntell tell tell tell tell \n내가 필요하다 말해, 말해줘요\n \ntell tell tell tell tell \n자꾸만 듣고 싶어 계속 내게 말해줘\n \ntell tell tell tell tell \n꿈이 아니라고 말해, 말해줘요 **\n어쩜 내 가슴이 이렇게 뛰니\n가슴이 정말 터질 것 같아\n니가 날 볼 때면\n전기에 감전된 사람처럼 전기가 올라\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니 어머나,\n다시 한 번 말해봐\n** repeat\n you\nwant me want me want me too\n you\nlove me too love me too\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\n** repeat\n \ntell tell tell tell tell \ntell tell tell tell tell \n\n'

In [105]:
#빈칸 두개를 하나로 줄여라
lyrics = lyrics.replace("  "," ")
lyrics[1:-1]

'너도 날 좋아할 줄은 몰랐어\n어쩌면 좋아 너무나 좋아\n꿈만 같아서 나\n내 자신을 자꾸 꼬집어 봐 너무나 좋아\n니가 날 혹시 안 좋아할까봐\n혼자 얼마나 애 태운지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\n**\n \ntell tell tell tell tell \n나를 사랑한다고 날 기다려 왔다고\n \ntell tell tell tell tell \n내가 필요하다 말해, 말해줘요\n \ntell tell tell tell tell \n자꾸만 듣고 싶어 계속 내게 말해줘\n \ntell tell tell tell tell \n꿈이 아니라고 말해, 말해줘요 **\n어쩜 내 가슴이 이렇게 뛰니\n가슴이 정말 터질 것 같아\n니가 날 볼 때면\n전기에 감전된 사람처럼 전기가 올라\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니 어머나,\n다시 한 번 말해봐\n** repeat\n you\nwant me want me want me too\n you\nlove me too love me too\n얼마나 오래 기다린지 몰라\n얼마나 오래 꿈 꿨는지 몰라\n그런데 니가 날 사랑한다니\n어머나, 다시 한 번 말해봐\n** repeat\n \ntell tell tell tell tell \ntell tell tell tell tell \n'

# 리스트, 튜플

In [107]:
#리스트 데이터 조작 가능
#튜플 데이터 조작 불가능

### 데이터 추가
1. 문자열: 덧셈 연산
2. 리스트: append,insert

In [110]:
meum = "짜장면, 짬뽕 ,탕수육"
meum + ",군만두"

'짜장면, 짬뽕 , 탕수육,군만두'

In [124]:
meum = ["짜장면", "짬뽕" ,"탕수육"]
meum.append("군만두")
meum

['짜장면', '짬뽕', '탕수육', '군만두']

In [125]:
meum.insert(1,"팔보채")
meum

['짜장면', '팔보채', '짬뽕', '탕수육', '군만두']

### 데이터 제거
- 1.문자열:replace
- 2.리스트:del,remove,pop

In [127]:
meum = "짜장면", "짬뽕" ,"탕수육"
meum.replace(", 탕수육","")
meum

AttributeError: 'tuple' object has no attribute 'replace'

In [123]:
meum.remove("탕수육")

AttributeError: 'str' object has no attribute 'remove'

### 데이터 교체
1: 문자열 : replace
    2: 리스트 : 딱히 함수x

In [129]:
meum = "짜장면,짬뽕,탕수육,팔보채"
meum = meum.replace("팔보채","군만두")
meum

'짜장면,짬뽕,탕수육,군만두'

In [132]:
meum = ["짜장면","짬뽕","탕수육","팔보채"]
meum[1] = "유산슬"
meum

['짜장면', '유산슬', '탕수육', '팔보채']

In [137]:
fruit=[["mango","grape"],["apple","banana",["melon","watermelon"]]]
fruit[1][0]="pineapple"
fruit

[['mango', 'grape'], ['pineapple', 'banana', ['melon', 'watermelon']]]

### 반복문

In [138]:
while 명제 :
    명제가 참인 한 실행되는 코드

SyntaxError: invalid syntax (4236687272.py, line 2)

### 무한루프를 피하는 방법
 - 특정 존건에서 while문에 걸려있는 명제가 거짓이 되도록 설계한다.
 - break를 사용한다.
 - whlie문은 참인한 실행됨

In [141]:
n=0
while n <3 :
    print(n)
    n=n+1

0
1
2

In [148]:
n=0
while True : 
    print(n)
    n=n+1
    if n >=3:
        break
    else:
        pass

0
1
2

#### 1000이넘는 최초의 43배수중 가장 작은 수를 찾고 싶습니다.

In [153]:
n=1000
while True :
    n=n+1
    if n%43== 0:
        print(n)
        break
    else:
        pass

1032

In [155]:
n=0
while n*43 <1000:
    n=n+1
print(n*43)

1032

### 10000이 넘는 수 중에서 , 가작 작은 43과 67의 최소공배수를 구해세요.

In [159]:
n=10000
while True :
    n=n+1
    if (n%43 == 0) and (n%67 == 0) :
        print(n)
        break
    else :
        pass

11524

### for문 
for 변수 in 순서가 있는 자료형 :
    코드

In [161]:
for i in[1,2,3,4]:
    print(i**2)

1
4
9
16

### 3단 만들기

In [168]:
for i in range(1,9) :
    print("3x {}".format(i,3*i))

3x 1
3x 2
3x 3
3x 4
3x 5
3x 6
3x 7
3x 8

In [169]:
n=0
a={1,2,3,4,5,6,7}
b={2,4,3,6,5,3,7}
for in  :
    if  a[i] == b[i] :
        n=n+1
    else :
        pass

SyntaxError: invalid syntax (785392059.py, line 4)

In [184]:
for i in range(1,9) :
    for w in range(1,9)
    print("{}x{}".format(i,w)
print("_____ ")

SyntaxError: invalid syntax (974901393.py, line 2)

In [186]:
for l in range(10):
    try:
        print(1/7-i)
    except :
        print("에러가 났습니다.")

-8.857142857142858
-8.857142857142858
-8.857142857142858
-8.857142857142858
-8.857142857142858
-8.857142857142858
-8.857142857142858
-8.857142857142858
-8.857142857142858
-8.857142857142858

In [1]:
a= int(input("3의 배수를 입력하세요:"))
if a%3 !=0:
    raise Exception("너 혼난다.")
else:
    print(a)

3의 배수를 입력하세요:3
3

In [5]:
a = range(10)[12]

IndexError: range object index out of range

In [7]:
a= range(10

SyntaxError: unexpected EOF while parsing (2304064868.py, line 1)

In [8]:
##캐글

In [11]:
!git clone https://github.com/DmitryUlyanov/deep-image-prior.git

Cloning into 'deep-image-prior'...

In [21]:
n= 0
m =0
for c in range(1,101):
    n=c+n
    m=m+c**2
print(n**2 - m)

25164150

### 딕션너리

In [52]:
gg = {"사과":800, "바나나":1000, "포도":800}
gg["사과"]

800

In [53]:
gg["파인애플"] = 1200
gg

{'사과': 800, '바나나': 1000, '포도': 800, '파인애플': 1200}

In [54]:
del  gg["파인애플"]

In [55]:
for i in gg :
    print(i)

사과
바나나
포도

In [56]:
gg.keys()

dict_keys(['사과', '바나나', '포도'])

In [57]:
gg.values()

dict_values([800, 1000, 800])

In [58]:
for i in gg:
    m= gg[i]*1.1
    
    gg[i]=m
gg

{'사과': 880.0000000000001, '바나나': 1100.0, '포도': 880.0000000000001}

전국 사과의 평균을 구해라

In [1]:
ggg= {"서울점":{"사과":800, "바나나" : 1000, "포도" : 800},
        "부산점":{"사과":700,"바나나" :900, "포도" :900},
        "대구점" : {"사과" :750, "바나나":800, "포도" :1000}}

In [9]:
y=0
for c in ggg:
     y=y+ggg[c]["사과"]
print(y/3)

750.0

In [8]:
m=0
for c in ggg:
    m=m+ggg[c]["바나나"]
print(m/3)

900.0

In [7]:
for c in ggg:
    print (ggg[c]["포도"]/3)

266.6666666666667
300.0
333.3333333333333

In [13]:
def add(a,b): 
    return a+b

In [14]:
add(2,3)

5

In [15]:
a=100
import mathatic

ModuleNotFoundError: No module named 'mathatic'